@page
@model Manchester_United_Squad_Library.Pages.AlexTellesProfileModel
@{
}

<body>
<style>

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */

body {
  background-color: #777;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: black;
  width: 100%
}

/* Create two columns/boxes that floats next to each other */
nav {
    float: left;
    width: 25%;
    background: dimgrey;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  float: right;
  width:70%;
  background-color: #f1f1f1;
}

/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
}

/* Style the footer */
footer {
    padding: 20px;
  background-color: #777;
  text-align: center;
  color: white;
}

ul {
    float: left;
    width: 25%;
    background-color: #777;
}
</style>
</body>
<body>
  <h2 style="font-size: 100px; width: 100%; color: lightgray" >Alex Telles <a href="https://localhost:5000/Squad"><img src="~/lib/Images/Homescreen Icon Grey Pic 2.webp" alt="Home Button Icon" width="100" height="100"></a></h2>

<section>
    <ul>
      <li><img src="~/lib/Images/Alex Telles Pic.png" alt="Alex Telles" width="300" height="300" padding:10px ></li>
      <li></li>
      <li><img src="~/lib/Images/Alex Telles Action Pic.jpg" alt="Alex Telles Action" width="300" height="300"></li>
    </ul>
  <article>
      <p>On 5 October 2020, Manchester United had agreed a deal in principle to sign Telles for a fee believed to be £15.4 million. The transfer was completed and Telles was announced as a United player that day. He made his debut playing as a left wing-back on 20 October in a 2–1 win over Paris Saint-Germain in the UEFA Champions League group stage. On 29 September 2021, Telles scored his first goal for Manchester United with a left-footed volley from outside the penalty area in a 2–1 home win against Villa Real CF in the 2021–22 UEFA Champions League group stage.</p>
  </article>
</section>

</body>
