@page
@model Manchester_United_Squad_Library.Pages.DeanHendersonProfileModel
@{
}

<body>
<style>

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */

body {
  background-color: #777;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: #777;
  width: 100%
}

/* Create two columns/boxes that floats next to each other */
nav {
    float: left;
    width: 25%;
    background: dimgrey;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  float: right;
  width: 70%;
  background-color: #f1f1f1;
}

/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
}

/* Style the footer */
footer {
    padding: 20px;
  background-color: #777;
  text-align: center;
  color: white;
}

ul {
    float: left;
    width: 25%;
    background-color: #777;
}
</style>
</body>
<body>
   <h2 style="font-size: 100px; width: 100%; color: lightgray" >Dean Henderson<a href="https://localhost:5000/Squad"><img src="~/lib/Images/Homescreen Icon Grey Pic 2.webp" alt="Home Button Icon" width="100" height="100"></a></h2>

<section>
    <ul>
      <li><img src="~/lib/Images/Dean Henderson Pic.png" alt="Dean Henderson" width="300" height="300" padding:10px ></li>
      <li></li>
      <li><img src="~/lib/Images/Dean Henderson Action Pic.jpg" alt="Dean Henderson" width="300" height="300"></li>
    </ul> 
  <article>
      <p>Henderson joined the Manchester United academy aged 14, having spent six years at Carlisle United. He first joined the academy in August 2011. After progressing through the academy, Henderson was among 10 players to join the Academy squad for the 2013–14 season. He became a regular goalkeeper for the U18 team in the 2013–14 season. In the 2014–15 season, Henderson continued to impress as a regular goalkeeper for the U18 team, as he made 25 appearances but sustained an injury towards the end of the season. Nevertheless, he was among nominees for the Jimmy Murphy Young Player of the Year award but lost out to Axel Tuanzebe. In August 2015, Henderson signed his first professional contract with the club. On 14 August 2020, Henderson was added to Manchester United's senior squad list for the first time. On 26 August, he signed a new long-term contract that would keep him at Manchester United until June 2025. He made his senior debut in the third round of the League Cup against Luton Town, keeping a clean sheet in the process during United's 3–0 win.</p>
  </article>
</section>

</body>
