@page
@model IndexModel
@{
    ViewData["Title"] = "Index";
}

<a href="https://localhost:5000/Squad">Visit The Squad's Page</a>

<h1> "Welcome to the home page of this website"</h1>
<h2> "On this website you will be able to find the player profiles of any player in the 2022/23 Manchester United Squad</h2>

