@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p style="color:darkred">This is the official Manchester United Squad List made by Joe Carruthers for the 2022 Premier League season.</p>
<p style="color:darkred">If any aspects of this webiste are duplicated or copied then legal action will be taken.</p>

